/* ESTILS DE LA PAGINA */

body {
	margin: 0px;
	top: 0;
	font-family: arial;
}
h2 {
	font-size: 40px;
	font-weight: normal;
}
h3 {
	font-size: 25px;
	font-weight: normal;
}
h4 {
	font-size: 15px;
}
/* NAVEGACIO */

.MenuNavegacio {
	top: 0;
	padding: 1.5vh;
	background-color: #FFE8D6;
	display: flex;
	position: sticky;
	align-items: center;
	gap: 20px;
	border-bottom: 2px solid black;
}
.FotoPerfilNavegacio {
	margin-left: auto;
	border: 0px solid;
	border-radius: 180px;
}

/* BANNERS */

.BannerPrincipal {
	height: 450px;
	background-color: #fff2e6;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 3px;
	background-image: url('../Pictures/IMG1.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.BannerPrincipalPropietatsText {
	padding-left: 15%;
	margin: 0px;
	color: white;
}
.BannerPrincipalCategories {
	padding-left: 15%;
	padding-right: 15%;
	display: flex;
	gap: 25px;
	align-items: center;
	border-bottom: 2px solid black;
}

/* TEXTES GENERALS */

.TextAmbPocMarge {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* BOTONS */

.BotoSenseInterior {
	border: 2px solid #CB9B81;
	border-radius: 14px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	color: #CB9B81;
	font-weight: bold;
	padding: 4px;
}
.BotoSenseInteriorAmbMargin {
	margin-left: 15%;
	border: 2px solid #CB9B81;
	border-radius: 14px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	color: #CB9B81;
	font-weight: bold;
	padding: 4px;
}
.BotoAmbInterior {
	border: 4.3px solid white;
	border-radius: 14px;
	text-align: center;
	width: 100px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	padding: 4.1px;
}

/* SECCIONS */

.SeccioLatestRecipes {
	padding-left: 15%;
	padding-right: 15%;
	margin-bottom: 40px;
}
.SeccioPopularRecipes {
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 40px;
	border-bottom: 2px solid black;
}
.SeccioAboutAuthor {
	padding-left: 15%;
	padding-right: 15%;
	height: 350px;
	background-color: #DDBEA9;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 130px;
}

/* DIVS */

.DivLatestRecipes {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 25px;
	flex-wrap: wrap;
}
.DivLatestRecipes2 {
	width: 500px;
}
.DivLatestRecipes3 {
    width: 500px;
}
.DivLatestRecipesText {
	margin: 5px;
	text-align: justify;
}
.DivFormulari {
	margin-left: 15%;
	margin-right: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 0px solid;
	border-radius: 28px;
	background-color: #CB997E;
	padding: 60px;
	gap: 40px;
	margin-bottom: 40px;
}
.DivFormulariText {
	width: 440px;
}
.DivBotoLlarg {
	border: 2px solid white;
	border-radius: 14px;
	text-align: center;
	width: 350px;
	height: 20px;
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	padding-left: 20px;
	padding-right: 0px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.DivPopularRecipesCollage {
	display: flex;
	flex-wrap: wrap;
	gap: 20px 20px;
	justify-content: center;
}
/* En cas de posar imatges diferents, s'haurien de fer un parell d'estil d'imatge */
.DivPopularRecipesImages {
	background-image: url('../Pictures/IMG3.webp');
	height: 500px;
	width: 500px;
}
.DivFooterPrincipal {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.DivFooterNavegacio {
	display: flex;
	gap: 20px;
}
.DivFooterXarxes {
	display: flex;
	gap: 5px;
}

/* ALTRES */

.ImgAboutAuthor {
	border: 0px solid;
	border-radius: 180px;
}
.PopularRecipesImagesText1 {
	padding-top: 400px;
	padding-left: 10px;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px
}
.PopularRecipesImagesText2 {
	padding-left: 10px;
	color: white;
	margin-top: 0px;
	margin-bottom: 0px
}

/* FOOTER */

.Footer {
	padding: 100px;
	padding-left: 15%;
	padding-right: 15%;
	background-color: #FFE8D6;
}

/* MEDIAQUERIES */

